$tablet: 996px;
$mobile: 500px;

$primary1: #523b3b;
$primary2:  #7d5757;
$primary3: #333;
$white:#fff;
$white1: #fff;
$white2: #f3f3f3;
$white3:#e9ecef;
$white4:#ccc;
$gray: #474e5d;
$gray1: #c7c6c4;
$orange:#ff9f1a;
$gold: gold;
$drakgreen: lightseagreen;
$darkBlue: #3C589C;

$blackshade1:rgba(0,0,0,0.12);
$blackshade2: rgba(0,0,0,0.24);
$blackshade3: rgba(0, 0, 0, 0.2);

$border1: red;
$red2:#d63939;



