.user-profile {
    & .img-thumbnail {
        
    }
    & .label {
        font-weight: bold;
    }
    & .quick-links {
        margin-left:20px;
        & .list-group {
            flex-direction: row;
        }
        & .list-group-item {
            margin:0 10px;
        }
        & .list-group-item + .list-group-item{
            border-top-width: 1px;;
        }
    }
}